body {
  font-family: 'PT Serif', Arial, sans-serif;;
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  line-height: 160%;
}

a {
  color: #31FF00;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.wrapper {
  
}



.container {
  max-width: 100%;
  padding: 0 20px;

  @media (min-width: 600px) {
   max-width: 80vw;
  }

   @media (min-width: 900px) {
    max-width: 50vw;
  }
}
